<form>
    <h3>Bem vindo!</h3>
    <div class="dv1">
        <label>Usuario</label>
        <input type="text" class="tx_user" name="user" placeholder="Insira usuario">
    </div>
    <div>
        <label>Senha</label>
        <input type="password" class="tx_pass" name="pass" placeholder="Insira senha">
    </div>
    <span>Não consegue acessar sua conta</span><a href="#" >Suporte</a>    
</form>